<ion-header>
  <ion-toolbar>
    <ion-title>
      NewsList
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card *ngFor="let article of data?.articles" (click)="onGoToNewsSinglePage(article)">
  <ion-card-content>
       <ion-card-title>{{article.title}}</ion-card-title>
     </ion-card-content>
 </ion-card>


 <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more news...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content> 
